

.rejilla-1 {
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
}

.rejilla-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}

.h3-margin-1{
	color: #FFF !important;
	margin: 5% !important;
	white-space: normal !important;
}
.div-description{
	line-height : 20px;
	width: 100%;
	white-space: pre-line;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: -12% 0% 0% 0%;
	padding: 7%;
}

